<footer>
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div>
                <h4 class="text-xl font-semibold mb-4">About Me</h4>
                <p class="text-sm">Backend developer with Java, Python, and JavaScript skills.</p>
            </div>
            <div>
                <h4 class="text-xl font-semibold mb-4">Contact Us</h4>
                <p class="text-sm">GitHub: <a href="https://github.com/Brenolima03" class="text-blue-200 hover:underline">Brenolima03</a></p>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center">
        <p class="text-sm">&copy; 2024 Breno Lima. All rights reserved.</p>
    </div>
</footer>
